.menu {
  height: 100vh;
  max-width: 400px;
  overflow-y: scroll;
  padding: 15px;
  width: 100vw;
  position: relative;

  .title {
    color: $green-color;
    font-size: 20px;
    padding-right: 60px;
    line-height: 30px;

    &--bold {
      font-weight: 600;
    }
  }

  .close {
    text-decoration: underline;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
    color: $green-color;
    will-change: color;
    transition: color 200ms ease-in-out;

    &:hover {
      color: lighten($green-color, 20%);
      cursor: pointer;
    }
  }

  .add-item-form {
    margin-top: 15px;

    label {
      margin-bottom: 5px;
      font-size: 14px;
      font-weight: 600;
    }

    .input {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;
      padding-bottom: 30px;

      input {
        padding: 5px;
        margin: 0;
      }

      .message {
        margin: 0;
        font-size: 12px;
        position: absolute;
        bottom: 10px;

        &--error {
          color: $red-color !important;
          display: none;
        }
      }

      .error {
        &--visible {
          display: block !important;
        }
      }
    }

    button {
      margin: 5px auto;
      background-color: darken($green-color, 25%);
      border: none;
      border-radius: 6px;
      min-width: 140px;
      padding: 5px;
      font-size: 18px;
      line-height: 20px;
      color: $white-color;
      $color: #7cf07f;
      $color2: darken($green-color, 25%);

      &:hover {
        cursor: pointer;
        animation: blinds 0.75s linear forwards;
        background: linear-gradient(0deg, $color 25%, transparent 25%) 0 0 / 0.5em 0.5em, linear-gradient(0deg, $color2 50%, transparent 50%) 0 0 / 1em 1em;
        color: adjust-hue($color, 30);
      }

      span {
        font-size: 20px;
        line-height: 20px;
      }
    }
  }
}
